{% load static %}
{% load humanize %}

<!-- Navbar -->
<div class="navigation navbar navbar-light justify-content-center py-xl-7">

    <!-- Brand -->
    <a href="\" class="d-none d-xl-block mb-6">
        <img src="{% static 'assets/images/brand.svg' %}" class="mx-auto fill-primary" data-inject-svg="" alt=""
            style="height: 46px;">
    </a>

    <!-- Menu -->
    <ul class="nav navbar-nav flex-row flex-xl-column flex-grow-1 justify-content-between justify-content-xl-center py-3 py-lg-0"
        role="tablist">

        <!-- Invisible item to center nav vertically -->
        <li class="nav-item d-none d-xl-block invisible flex-xl-grow-1">
            <a class="nav-link position-relative p-0 py-xl-3" href="#" title="">
                <i class="icon-lg fe-x"></i>
            </a>
        </li>

        <!-- Create group -->
        <li class="nav-item">
            <a class="nav-link position-relative p-0 py-xl-3" data-toggle="tab" href="#tab-content-create-chat"
                title="Create chat" role="tab">
                <i class="icon-lg fe-edit"></i>
            </a>
        </li>

        <!-- Friend -->
        <li class="nav-item mt-xl-9">
            <a class="nav-link position-relative p-0 py-xl-3" data-toggle="tab" href="#tab-content-friends"
                title="Friends" role="tab">
                <i class="icon-lg fe-users"></i>
            </a>
        </li>

        <!-- Chats -->
        <li class="nav-item mt-xl-9">
            <a class="nav-link position-relative p-0 py-xl-3 active" data-toggle="tab" href="#tab-content-dialogs"
                title="Chats" role="tab">
                <i class="icon-lg fe-message-square"></i>
                <div class="badge badge-dot badge-primary badge-bottom-center"></div>
            </a>
        </li>

        <!-- Profile -->
        <li class="nav-item mt-xl-9">
            <a class="nav-link position-relative p-0 py-xl-3" data-toggle="tab" href="#tab-content-user" title="User"
                role="tab">
                <i class="icon-lg fe-user"></i>
            </a>
        </li>

        <!-- Demo only: Documentation -->
        <li class="nav-item mt-xl-9 d-none d-xl-block flex-xl-grow-1">
            <a class="nav-link position-relative p-0 py-xl-3" data-toggle="tab" href="#tab-content-demos" title="Demos"
                role="tab">
                <i class="icon-lg fe-layers"></i>
            </a>
        </li>

        <!-- Settings -->
        <li class="nav-item mt-xl-9">
            <a class="nav-link position-relative p-0 py-xl-3" href="{% url 'account:settings' %}" title="Settings">
                <i class="icon-lg fe-settings"></i>
            </a>
        </li>

    </ul>
    <!-- Menu -->

</div>
<!-- Navbar -->

<!-- Sidebar -->
<div class="sidebar">
    <div class="tab-content h-100" role="tablist">
        <div class="tab-pane fade h-100" id="tab-content-create-chat" role="tabpanel">
            <div class="d-flex flex-column h-100">
                <form method="POST" enctype="multipart/form-data" action="{% url 'chat:create-group' %}">
                    {% csrf_token %}

                    <div class="hide-scrollbar">
                        <div class="container-fluid py-6">

                            <!-- Title -->
                            <h2 class="font-bold mb-6">Create group</h2>
                            <!-- Title -->

                            <!-- Search -->
                            <!-- <form class="mb-6">
                                <div class="input-group">
                                    <input type="text" class="form-control form-control-lg"
                                        placeholder="Search for messages or users..."
                                        aria-label="Search for messages or users...">
                                    <div class="input-group-append">
                                        <button class="btn btn-lg btn-ico btn-secondary btn-minimal" type="submit">
                                            <i class="fe-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </form> -->
                            <!-- Search -->

                            <!-- Tabs -->
                            <ul class="nav nav-tabs nav-justified mb-6" role="tablist">
                                <li class="nav-item">
                                    <a href="#create-group-details" class="nav-link active" data-toggle="tab" role="tab"
                                        aria-selected="true">Details</a>
                                </li>

                                <li class="nav-item">
                                    <a href="#create-group-members" class="nav-link" data-toggle="tab" role="tab"
                                        aria-selected="false">Members</a>
                                </li>
                            </ul>
                            <!-- Tabs -->

                            <!-- Create chat -->
                            <div class="tab-content" role="tablist">

                                <!-- Chat details -->
                                <div id="create-group-details" class="tab-pane fade show active" role="tabpanel">

                                    <div class="form-group">
                                        <label class="small">Photo</label>
                                        <div class="position-relative text-center bg-secondary rounded p-6">
                                            <div class="avatar bg-primary text-white mb-5">
                                                <i class="icon-md fe-image"></i>
                                            </div>

                                            <p class="small text-muted mb-0">You can upload jpg' %}, gif or png
                                                files. <br> Max file size 3mb.</p>
                                            <!-- <input id="upload-user-photo" class="d-none" type="file"> -->
                                            {{ group_create_form.avatar }}
                                            <label class="stretched-label mb-0" for="upload-chat-photo"></label>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label class="small" for="new-chat-title">Name</label>
                                        {{ group_create_form.name }}
                                    </div>

                                    <div class="form-group">
                                        <label class="small" for="new-chat-topic">Topic (optional)</label>
                                        {{ group_create_form.topic }}
                                    </div>

                                    <div class="form-group mb-0">
                                        <label class="small" for="new-chat-description">Description</label>
                                        {{ group_create_form.description }}
                                    </div>
                                </div>
                                <!-- Chat details -->

                                <!-- Chat Members -->
                                <div id="create-group-members" class="tab-pane fade" role="tabpanel">
                                    <nav class="list-group list-group-flush mb-n6">

                                        <div class="mb-6">
                                            <small class="text-uppercase">A</small>
                                        </div>

                                        {% for private_user in all_private_users %}
                                        <!-- Friend -->
                                        <div class="card mb-6">
                                            <div class="card-body">

                                                <div class="media">

                                                    <div class="avatar avatar-online mr-5">
                                                        <img class="avatar-img"
                                                            src="{% static 'assets/images/avatars/10.jpg' %}"
                                                            alt="Anna Bridges">
                                                    </div>



                                                    <div class="media-body align-self-center mr-6">
                                                        <h6 class="mb-0">{{ private_user.friend.username }}</h6>
                                                        <small class="text-muted">Online</small>
                                                    </div>

                                                    <div class="align-self-center ml-auto">
                                                        <div class="custom-control custom-checkbox">
                                                            <input name="member" value="{{ private_user.friend.slug }}"
                                                                class="custom-control-input"
                                                                id="id-user-{{ forloop.counter }}" type="checkbox">
                                                            <label class="custom-control-label"
                                                                for="id-user-{{ forloop.counter }}"></label>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                            <!-- Label -->
                                            <label class="stretched-label" for="id-user-{{ forloop.counter }}"></label>
                                        </div>
                                        <!-- Friend -->
                                        {% endfor %}

                                    </nav>
                                </div>
                                <!-- Chat Members -->

                            </div>
                            <!-- Create chat -->

                        </div>
                    </div>

                    <!-- Button -->
                    <div class="pb-6">
                        <div class="container-fluid">
                            <button name="group-form" class="btn btn-lg btn-primary btn-block" type="submit">Create
                                group</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="tab-pane fade h-100" id="tab-content-friends" role="tabpanel">
            <div class="d-flex flex-column h-100">

                <div class="hide-scrollbar">
                    <div class="container-fluid py-6">

                        <!-- Title -->
                        <h2 class="font-bold mb-6">Friends</h2>
                        <!-- Title -->

                        <!-- Search -->
                        <form class="mb-6">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-lg"
                                    placeholder="Search for messages or users..."
                                    aria-label="Search for messages or users...">
                                <div class="input-group-append">
                                    <button class="btn btn-lg btn-ico btn-secondary btn-minimal" type="submit">
                                        <i class="fe-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                        <!-- Search -->

                        <!-- Button -->
                        <button type="button" class="btn btn-lg btn-block btn-secondary d-flex align-items-center mb-6"
                            data-toggle="modal" data-target="#invite-friends">
                            Invite friends
                            <i class="fe-users ml-auto"></i>
                        </button>

                        <!-- Friends -->
                        <nav class="mb-n6">

                            <div class="mb-6">
                                <small class="text-uppercase">A</small>
                            </div>
                            {% for private_user in all_private_users %}
                            <!-- Friend -->
                            <div class="card mb-6">
                                <div class="card-body">

                                    <div class="media">

                                        <div class="avatar avatar-online mr-5">
                                            <img class="avatar-img" src="{{ private_user.friend.avatar.url }}"
                                                alt="Anna Bridges">
                                        </div>


                                        <div class="media-body align-self-center">
                                            <h6 class="mb-0">{{ private_user.friend.username }}</h6>
                                            {% if private_user.block %}
                                            <small class="text-danger">Blocked</small>
                                            {% else %}
                                            <small class="text-muted">Online</small>
                                            {% endif %}
                                        </div>

                                        <div class="align-self-center ml-5">
                                            <div class="dropdown z-index-max">
                                                <a href="#" class="btn btn-sm btn-ico btn-link text-muted w-auto"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fe-more-vertical"></i>
                                                </a>
                                                <div class="dropdown-menu">
                                                    {% if private_user.block %}
                                                    <a class="dropdown-item d-flex align-items-center"
                                                        href="{% url 'chat:unblock-user' private_user.room %}">
                                                        Unblock <span class="ml-auto fe-edit-2"></span>
                                                    </a>
                                                    {% else %}
                                                    <a class="dropdown-item d-flex align-items-center"
                                                        href="{% url 'chat:start-chat' private_user.room %}">
                                                        New chat <span class="ml-auto fe-edit-2"></span>
                                                    </a>
                                                    {% endif %}
                                                    <a class="dropdown-item d-flex align-items-center"
                                                        href="{% url 'chat:delete-chat' private_user.room %}">
                                                        Delete <span class="ml-auto fe-trash-2"></span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Link -->
                                    <a href="" class="stretched-link"></a>

                                </div>
                            </div>
                            <!-- Friend -->
                            {% endfor %}
                        </nav>
                        <!-- Friends -->

                    </div>
                </div>

            </div>
        </div>

        <div class="tab-pane fade h-100 show active" id="tab-content-dialogs" role="tabpanel">
            <div class="d-flex flex-column h-100">

                <div class="hide-scrollbar">
                    <div class="container-fluid py-6">

                        <!-- Title -->
                        <h2 id="chats-title" class="font-bold mb-6">Chats</h2>
                        <!-- Title -->

                        <!-- Search -->
                        <form class="mb-6" method="GET">
                            <div class="input-group">
                                <input type="text" name="username" class="form-control form-control-lg"
                                    placeholder="Search for messages or users..."
                                    aria-label="Search for messages or users...">
                                <div class="input-group-append">
                                    <button class="btn btn-lg btn-ico btn-secondary btn-minimal" type="submit">
                                        <i class="fe-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                        <!-- Search -->

                        <!-- Favourites -->
                        <div class="text-center hide-scrollbar d-flex my-7" data-horizontal-scroll="">
                            {% if user.stories %}
                            <a href="{% url 'chat:stories-view' user.slug %}" class="d-block text-reset mr-7 mr-lg-6">
                                {% else %}
                                <a href="#" class="d-block text-reset mr-7 mr-lg-6" data-toggle="modal"
                                    data-target="#create-stoeies">
                                    {% endif %}
                                    <div class="avatar avatar-sm avatar-online mb-3">
                                        <img class="avatar-img" src="{{ user.avatar.url }}" alt="Image Description">
                                    </div>
                                    <div class="small">You</div>
                                </a>

                                {% for friend in all_private_users %}
                                {% if friend.friend.stories %}
                                <a href="{% url 'chat:stories-view' friend.friend.slug %}"
                                    class="d-block text-reset mr-7 mr-lg-6">
                                    <div class="avatar avatar-sm {% if user not in friend.friend.stories.seen.all %} avatar-online {% endif %} mb-3">
                                        <img class="avatar-img" src="{{ friend.friend.avatar.url }}"
                                            alt="Image Description">
                                    </div>
                                    <div class="small">{{ friend.friend.username }}</div>
                                </a>
                                {% endif %}
                                {% endfor %}


                        </div>
                        <!-- Favourites -->

                        <!-- Chats -->
                        <nav class="nav d-block list-discussions-js mb-n6">
                            {% for group_chat, group_last_chat in all_groups_chats %}
                            <!-- Chat link -->
                            <a class="text-reset nav-link p-0 mb-6"
                                href="{% url 'chat:group-chat-room' group_chat.room %}">
                                <div class="card card-active-listener">
                                    <div class="card-body">

                                        <div class="media">


                                            <div class="avatar mr-5">
                                                <img class="avatar-img" src="{{ group_chat.avatar.url }}"
                                                    alt="Bootstrap Themes">
                                            </div>

                                            <div class="media-body overflow-hidden">
                                                <div class="d-flex align-items-center mb-1">
                                                    <h6 class="text-truncate mb-0 mr-auto">{{ group_chat.name }}</h6>
                                                    <p class="small text-muted text-nowrap ml-4">
                                                        {{ group_last_chat.timestamp|naturaltime }}</p>
                                                </div>
                                                {% if group_chat == user_group_chat %}
                                                <div id="group-last-message" class="text-truncate">
                                                    {% if group_last_chat.room == 'default' %}
                                                    {{ group_last_chat.message }}
                                                    {% else %}
                                                    {{ group_last_chat.user.username }}: {{ group_last_chat.message }}
                                                    {% endif %}
                                                </div>
                                                {% else %}
                                                <div class="text-truncate">
                                                    {% if group_last_chat.room == 'default' %}
                                                    {{ group_last_chat.message }}
                                                    {% else %}
                                                    {{ group_last_chat.user.username }}: {{ group_last_chat.message }}
                                                    {% endif %}
                                                </div>
                                                {% endif %}
                                            </div>
                                        </div>

                                    </div>


                                    <div class="badge badge-circle badge-primary badge-border-light badge-top-right">
                                        <span>3</span>
                                    </div>

                                </div>
                            </a>
                            <!-- Chat link -->
                            {% endfor %}

                            {% for private_chat, private_last_msg in all_private_chats %}
                            <!-- Chat link -->
                            <a class="text-reset nav-link p-0 mb-6"
                                href="{% url 'chat:single-chat-room' private_chat.room %}">
                                <div class="card card-active-listener">
                                    <div class="card-body">

                                        <div class="media">
                                            
                                            <div class="avatar {% if private_chat.close_friend %}avatar-online{% endif %} mr-5">
                                                    <img class="avatar-img" src="{{ private_chat.friend.avatar.url }}"
                                                        alt="Anna Bridges">
                                                </div>


                                                <div class="media-body overflow-hidden">
                                                    <div class="d-flex align-items-center mb-1">
                                                        <h6 class="text-truncate mb-0 mr-auto">
                                                            {{ private_chat.friend.username }}
                                                        </h6>
                                                        <p class="small text-muted text-nowrap ml-4">
                                                            {{ private_last_msg.timestamp|naturaltime }}</p>
                                                    </div>
                                                    {% if user_private_chat.friend == private_chat.friend %}
                                                    <div id="last-message" class="text-truncate">
                                                        {{ private_last_msg.message }}<span
                                                            class='typing-dots'><span>.</span><span>.</span><span>.</span></span>
                                                    </div>
                                                    {% else %}
                                                    <div class="text-truncate">{{ private_last_msg.message }}<span
                                                            class='typing-dots'><span>.</span><span>.</span><span>.</span></span>
                                                    </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </a>
                            <!-- Chat link -->
                            {% endfor %}

                            <!-- Chat link -->
                            <!-- <a href="" class="position-relative p-0 py-xl-3">
                                <div class="card card-active-listener">
                                    <div style="padding: 8px;" class="card-body">
                                        <div class="text-truncate text-center"><span class="ml-auto fe-archive mr-3"></span> Archived chats</div>
                                    </div>
                                </div>
                            </a> -->
                        </nav>
                        <!-- Chats -->

                    </div>
                </div>

            </div>
        </div>

        <div class="tab-pane fade h-100" id="tab-content-demos" role="tabpanel">
            <div class="d-flex flex-column h-100">

                <div class="hide-scrollbar">
                    <div class="container-fluid py-6">

                        <!-- Title -->
                        <h2 class="font-bold mb-6">Demo</h2>
                        <!-- Title -->

                        <!-- Search -->
                        <form class="mb-6">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-lg"
                                    placeholder="Search for messages or users..."
                                    aria-label="Search for messages or users...">
                                <div class="input-group-append">
                                    <button class="btn btn-lg btn-ico btn-secondary btn-minimal" type="submit">
                                        <i class="fe-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                        <!-- Search -->

                        <!-- Card -->
                        <div class="card mb-6">
                            <div class="card-body">

                                <div class="media align-items-center">
                                    <div class="mr-5">
                                        <img src="{% static 'assets/images/brand.svg' %}" class="fill-primary"
                                            data-inject-svg="" alt="" style="height: 46px; width: 46px;">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="mb-0">
                                            <a href="documentation/index.html"
                                                class="text-basic-inverse stretched-link">Documentation</a>
                                        </h5>
                                        <p>Quick setup and build tools.</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- Card -->

                        <h5 class="my-6">Chat Pages:</h5>

                        <!-- Card -->
                        <div class="card mb-6">
                            <img class="card-img-top" alt="" src="{% static 'assets/images/demos/chat.jpg' %}">
                            <div class="card-body border-top">
                                <div class="media">
                                    <div class="media-body">
                                        <h5 class="mb-0">Light mode</h5>
                                    </div>
                                    <div class="align-self-center">
                                        <a href="demo-light/index.html" class="text-muted stretched-link">
                                            <i class="fe-link"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Card -->

                        <!-- Card -->
                        <div class="card mb-6">
                            <img class="card-img-top" alt="" src="{% static 'assets/images/demos/chat-dark.jpg' %}">
                            <div class="card-body border-top">
                                <div class="media">
                                    <div class="media-body">
                                        <h5 class="mb-0">Dark mode</h5>
                                    </div>
                                    <div class="align-self-center">
                                        <a href="demo-dark/index.html" class="text-muted stretched-link">
                                            <i class="fe-link"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Card -->

                        <h5 class="my-6">Account Pages:</h5>

                        <!-- Card -->
                        <div class="card mb-6">
                            <img class="card-img-top" alt="" src="{% static 'assets/images/demos/sign-in-dark.jpg' %}">
                            <div class="card-body border-top">
                                <div class="media">
                                    <div class="media-body">
                                        <h5 class="mb-0">Sign In</h5>
                                    </div>
                                    <div class="align-self-center">
                                        <a href="signin.html" class="text-muted stretched-link">
                                            <i class="fe-link"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Card -->

                        <!-- Card -->
                        <div class="card mb-6">
                            <img class="card-img-top" alt="" src="{% static 'assets/images/demos/sign-up-dark.jpg' %}">
                            <div class="card-body border-top">
                                <div class="media">
                                    <div class="media-body">
                                        <h5 class="mb-0">Sign Up</h5>
                                    </div>
                                    <div class="align-self-center">
                                        <a href="signup.html" class="text-muted stretched-link">
                                            <i class="fe-link"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Card -->

                        <!-- Card -->
                        <div class="card mb-6">
                            <img class="card-img-top" alt=""
                                src="{% static 'assets/images/demos/password-reset-dark.jpg' %}">
                            <div class="card-body border-top">
                                <div class="media">
                                    <div class="media-body">
                                        <h5 class="mb-0">Password Reset</h5>
                                    </div>
                                    <div class="align-self-center">
                                        <a href="password-reset.html" class="text-muted stretched-link">
                                            <i class="fe-link"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Card -->

                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade h-100" id="tab-content-user" role="tabpanel">
            <div class="d-flex flex-column h-100">

                <div class="hide-scrollbar">
                    <div class="container-fluid py-6">

                        <!-- Title -->
                        <h2 class="font-bold mb-6">Profile</h2>
                        <!-- Title -->

                        <!-- Search -->
                        <!-- <form class="mb-6">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-lg"
                                    placeholder="Search for messages or users..."
                                    aria-label="Search for messages or users...">
                                <div class="input-group-append">
                                    <button class="btn btn-lg btn-ico btn-secondary btn-minimal" type="submit">
                                        <i class="fe-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form> -->
                        <!-- Search -->

                        <!-- Card -->
                        <div class="card mb-6">
                            <div class="card-body">
                                <div class="text-center py-6">
                                    <!-- Photo -->
                                    <div class="avatar avatar-xl mb-5">
                                        <img class="avatar-img" src="{{ user.avatar.url }}" alt="">
                                    </div>
                                    {% if user.first_name %}
                                    <h5>{{ user.first_name }} {{ user.last_name }}</h5>
                                    {% else %}
                                    <h5>{{ user.username }}</h5>
                                    {% endif %}
                                    <p class="text-muted">{{ user.bio }}</p>
                                </div>
                            </div>
                        </div>
                        <!-- Card -->

                        <!-- Card -->
                        <div class="card mb-6">
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item px-0 py-6">
                                        <div class="media align-items-center">
                                            <div class="media-body">
                                                <p class="small text-muted mb-0">Country</p>
                                                <p>{{ user.country.name }}
                                                    <img src="{{ user.country.flag }}" alt="">
                                                </p>
                                            </div>
                                            <i class="text-muted icon-sm fe-globe"></i>
                                        </div>
                                    </li>

                                    <li class="list-group-item px-0 py-6">
                                        <div class="media align-items-center">
                                            <div class="media-body">
                                                <p class="small text-muted mb-0">Phone</p>
                                                <p>{{ user.phone }}</p>
                                            </div>
                                            <i class="text-muted icon-sm fe-mic"></i>
                                        </div>
                                    </li>

                                    <li class="list-group-item px-0 py-6">
                                        <div class="media align-items-center">
                                            <div class="media-body">
                                                <p class="small text-muted mb-0">Email</p>
                                                <p>{{ user.email }}</p>
                                            </div>
                                            <i class="text-muted icon-sm fe-mail"></i>
                                        </div>
                                    </li>

                                    <li class="list-group-item px-0 py-6">
                                        <div class="media align-items-center">
                                            <div class="media-body">
                                                <p class="small text-muted mb-0">Last Login Time</p>
                                                <p>{{ user.last_login }}</p>
                                            </div>
                                            <i class="text-muted icon-sm fe-clock"></i>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Card -->

                        <!-- Card -->
                        <div class="card mb-6">
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    {% if user.socialprofile.twitter %}
                                    <li class="list-group-item px-0 py-6">
                                        <a href="{{ user.socialprofile.twitter }}" target="_blank"
                                            class="media text-muted">
                                            <div class="media-body align-self-center">
                                                Twitter
                                            </div>
                                            <i class="icon-sm fe-twitter"></i>
                                        </a>
                                    </li>
                                    {% endif %}
                                    {% if user.socialprofile.facebook %}
                                    <li class="list-group-item px-0 py-6">
                                        <a href="{{ user.socialprofile.facebook }}" target="_blank"
                                            class="media text-muted">
                                            <div class="media-body align-self-center">
                                                Facebook
                                            </div>
                                            <i class="icon-sm fe-facebook"></i>
                                        </a>
                                    </li>
                                    {% endif %}
                                    {% if user.socialprofile.instagram %}
                                    <li class="list-group-item px-0 py-6">
                                        <a href="{{ user.socialprofile.instagram }}" target="_blank"
                                            class="media text-muted">
                                            <div class="media-body align-self-center">
                                                Instagram
                                            </div>
                                            <i class="icon-sm fe-instagram"></i>
                                        </a>
                                    </li>
                                    {% endif %}
                                    {% if user.socialprofile.github %}
                                    <li class="list-group-item px-0 py-6">
                                        <a href="{{ user.socialprofile.github }}" target="_blank"
                                            class="media text-muted">
                                            <div class="media-body align-self-center">
                                                Github
                                            </div>
                                            <i class="icon-sm fe-github"></i>
                                        </a>
                                    </li>
                                    {% endif %}
                                    {% if user.socialprofile.slack %}
                                    <li class="list-group-item px-0 py-6">
                                        <a href="{{ user.socialprofile.slack }}" target="_blank"
                                            class="media text-muted">
                                            <div class="media-body align-self-center">
                                                Slack
                                            </div>
                                            <i class="icon-sm fe-slack"></i>
                                        </a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                        <!-- Card -->

                        <div class="form-row">
                            <div class="col">
                                <!-- Button -->
                                <a href="{% url 'account:settings' %}"
                                    class="btn btn-lg btn-block btn-basic d-flex align-items-center">
                                    Settings
                                    <span class="fe-settings ml-auto"></span>
                                </a>
                            </div>

                            <div class="col">
                                <!-- Button -->
                                <a href="{% url 'account:sign-out' %}"
                                    class="btn btn-lg btn-block btn-basic d-flex align-items-center">
                                    Logout
                                    <span class="fe-log-out ml-auto"></span>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>

            </div>




        </div>
    </div>
</div>
<!-- Sidebar -->